.button {
  display: flex;
  align-items: center;

  height: var(--button-height);
  padding: 0 var(--spacing-size-xxl);

  background: var(--color-purple);

  border: none;
  outline: none;
  cursor: pointer;

  > .icon,
  > svg {
    width: var(--button-icon-width);
    height: var(--button-icon-height);
  }

  >.typography {
    color: var(--color-white);
  }
}