.search-route {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  grid-template-rows: var(--grid-template-rows);
  grid-column-gap: var(--grid-column-gap);
  grid-row-gap: var(--grid-row-gap);
  grid-template-areas: var(--grid-template-areas);

  width: 100vw;
  height: 100vh;

  padding: var(--spacing-size-xxl) var(--spacing-size-l) 0;

  >.logo {
    grid-area: logo;
  }

  >.search-bar {
    grid-area: search-bar;
  }

  >.user-data {
    grid-area: user-data;
  }

  >.user-repos {
    grid-area: user-repos;
  }
}