// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400&display=swap');

@font-face {
  font-family: 'Monaco';
  src: url('../assets/fonts/monaco-webfont.woff2') format('woff2'),
       url('../assets/fonts/monaco-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Design system vars
:root {
  // General Vars
  // Typography
  --typography-family-primary: 'Raleway';
  --typography-family-secondary: 'Monaco';

  --typography-size-xxl: 60px;
  --typography-size-xl: 40px;
  --typography-size-l: 35px;
  --typography-size-d: 20px;

  --typography-weigth-regular: 400;
  --typography-weigth-thin: 300;
  --typography-weigth-extra-thin: 200;

  --typography-style-regular: normal;
  --typography-style-italic: italic;
  
  // Spacing
  --spacing-size-xxxxl: 70px;
  --spacing-size-xxxl: 50px;
  --spacing-size-xxl: 35px;
  --spacing-size-xl: 30px;
  --spacing-size-l: 28px;
  --spacing-size-d: 15px;
  --spacing-size-s: 12px;
  --spacing-size-sx: 7px;
  
  // Grid
  --grid-template-columns: 1fr 1fr 1fr;

  // Color
  --color-purple: #ac53f2;
  --color-gray: #5c5c5c;
  --color-white: #ffffff;

  // Shadow
  --shadow-default: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  --border-radius: 2px;

  // Components Vars:
  // Logo:
  --logo-width: 415px;
  --logo-width-small: 280px;
  --logo-height: 81px;
  --logo-height-small: 50px;

  // Layout vars
  --interaction-height: 50px;
  
  // Button
  --button-height: var(--interaction-height);
  --button-icon-height: 30px;
  --button-icon-width: 30px;

  // Text Input
  --input-height: var(--interaction-height);

  // Search Bar
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
