.typography {
  font-family: var(--typography-family-primary);
  font-size: var(--typography-size-d);
  font-weight: var(--typography-weigth-regular);
  font-style: var(--typography-style-regular);

  // Family
  &.-secondary{
    font-family: var(--typography-family-secondary);
  }

  // Size
  &.-xxl {
    font-size: var(--typography-size-xxl);
  }
  &.-xl {
    font-size: var(--typography-size-xl);
  }
  &.-l {
    font-size: var(--typography-size-l);
  }

  // Wheight
  &.-thin {
    font-weight: var(--typography-weigth-thin);
  }
  &.-extra-thin {
    font-weight: var(--typography-weigth-extra-thin);
  }

  // Style
  &.-italic {
    font-style: var(--typography-style-italic);
  }
}